nav{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 45px;
    background-image: linear-gradient(to bottom right, #2DE1FC, #09E85E);
    padding: 0px 24px;
    border-bottom: 1px solid
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    
}

li{
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
}

li:hover{
    background-color: #8CD790;
}